@import "tailwindcss";

@theme {
  --color-brand-yellow: #ffd700;
  --color-brand-yellow-muted: #fbd73920;
  --color-text-primary: #212121;
  --color-text-muted: #8b8b8b;
  --color-bg: #f8f8f8;
  --color-surface: #ffffff;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--font-inter);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-bricolage);
}
